@model Desafio_01.Models.TipoExame

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TipoExame</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Nometipo)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nometipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
