@model Desafio_01.Models.Consulta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filtranome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filtranome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filtracpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filtracpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroProtocolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroProtocolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
